name: mvvm_riverpod
description: Simple implementation of the MVVM architecture using Riverpod.
repository: https://github.com/joaopegoraro/mvvm_riverpod
issue_tracker: https://github.com/joaopegoraro/mvvm_riverpod/issues
version: 1.2.0

environment:
  sdk: ">=3.0.1 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_riverpod: ^2.3.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
